<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>手机腾牛网安卓软件免费下载触屏自适应手机wap软件模板下载-http://www.lanrenmb.com/diannaowangluo/ruanjian/</title>
<meta name="Keywords" content="安卓游戏免费下载,安卓软件下载排行,android手机软件" />
<meta name="description" content="手机腾牛网收录了最新的安卓软件,提供最好玩的安卓游戏免费下载,精心打造android下载排行榜,帮助机友们随时下载到最热门的安卓软件和游戏,伴你轻松享受安卓手机生活." />
<link rel="stylesheet" href="css/web5.css" >
<link rel="stylesheet" href="css/slider.css" >
<script src="js/zepto.js"></script>
<script src="js/zepto.extend.js"></script>
<script src="js/zepto.ui.js"></script>
<script src="js/slider.js"></script>
</head>

<body>
<header class="top"> <a class="t-home" href="default.htm">首页</a>
  <div class="t-logo"> <img src="img/logo.png"> </div>
  <a class="t-search" href="websousuo.html">搜索</a> </header>
<section id="slider" class="w-hos">
 

    <div>
        <a href="q/36652"><img lazyload="http://pic.qqtn.com/file/2013/2014-6/2014613165135.jpg" alt=""></a>
        <p>百度浏览器2014官方下载5.1 安卓版</p>
    </div>

    <div>
        <a href="q/46312"><img lazyload="http://pic.qqtn.com/file/2013/2013-10/2013102991744.jpg" alt=""></a>
        <p>腾讯微视2.6.0 安卓版</p>
    </div>

    <div>
        <a href="q/52084"><img lazyload="http://pic.qqtn.com/file/2013/2014-3/20143289730.jpg" alt=""></a>
        <p>格斗江湖安卓版下载1.14.07.04 最新版</p>
    </div>

    <div>
        <a href="q/56479"><img lazyload="http://pic.qqtn.com/file/2013/2014-7/20147291532.jpg" alt=""></a>
        <p>&#8203;MT爱德州下载1.16 安卓版</p>
    </div>

</section>
<section class="ad_home">
    <div class="title"><em>腾牛精品</em></div>
    
     <a data-id="{id}" href="q/32370"><img src="img/qq.png" width="50" height="50"><span>手机QQ2014</span></a>
     <a data-id="{id}" href="down.asp@id=34682"><img src="http://pic.qqtn.com/file/2013/2013-4/2013424141715.png" width="50" height="50"><span>360浏览器</span></a>  
     <a data-id="{id}" href="down.asp@id=56057"><img src="http://pic.qqtn.com/file/2013/2014-7/2014718165117.png" width="50" height="50"><span>手机音乐</span></a>    
     
       <a data-id="35435" href="q/35435"><img src="http://pic.qqtn.com/file/2013/2013-4/201342294438.png" width="50" height="50"><span>360手机助手安卓版下载</span></a>
     
       <a data-id="33834" href="q/33834"><img src="http://pic.qqtn.com/file/2013/2014-6/2014619102037.png" width="50" height="50"><span>腾讯应用宝</span></a>
     
       <a data-id="1100" href="q/1100"><img src="http://pic.qqtn.com/file/2013/2013-12/2013121710301.png" width="50" height="50"><span>百度手机卫士官方下载</span></a>
     
       <a data-id="56850" href="q/56850"><img src="http://pic.qqtn.com/file/2013/2014-8/201487105458.png" width="50" height="50"><span>潇湘书院客户端安卓版下载</span></a>
     
       <a data-id="36553" href="q/36553"><img src="http://pic.qqtn.com/file/2013/2013-5/20135883851.png" width="50" height="50"><span>风行视频播放器下载</span></a>
        
</section>
<DIV id=con>
<div class="title"> 
     <em>安卓软件</em>
     <div class="tabs">
     <UL id=tags>
       <LI class=selectTag><A onClick="selectTag('tagContent0',this)"   href="javascript:void(0)">推荐</A> </LI>
       <LI><A onClick="selectTag('tagContent1',this)" href="javascript:void(0)">最新</A> </LI>
       <LI><A onClick="selectTag('tagContent2',this)" href="javascript:void(0)">排行</A> </LI>
     </UL>
     </div>
</div>

<DIV id=tagContent>
<DIV class="tagContent selectTag" id=tagContent0>
<ul class="soft-list">  
  
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="33639" href="q/33639"><img src="http://pic.qqtn.com/file/2013/2013-9/201392516391.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="33639" href="q/33639"><b>搜狗手机输入法下载</b></a> <em>13.9M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="33639" href="q/33639">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="34682" href="q/34682"><img src="http://pic.qqtn.com/file/2013/2013-4/2013424141715.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="34682" href="q/34682"><b>360浏览器安卓版</b></a> <em>4.8M</em> <p>浏览阅读</p> </dd>
          <dd class="s-xx"><a data-id="34682" href="q/34682">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="36948" href="q/36948"><img src="http://pic.qqtn.com/file/2013/2013-4/201342410052.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="36948" href="q/36948"><b>天猫手机客户端</b></a> <em>17.2M</em> <p>聊天通讯</p> </dd>
          <dd class="s-xx"><a data-id="36948" href="q/36948">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="46874" href="q/46874"><img src="http://pic.qqtn.com/file/2013/2014-6/20146149639.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="46874" href="q/46874"><b>云图tv电视直播</b></a> <em>14.9M</em> <p>影音图像</p> </dd>
          <dd class="s-xx"><a data-id="46874" href="q/46874">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="37784" href="q/37784"><img src="http://pic.qqtn.com/file/2013/2013-4/201342494032.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="37784" href="q/37784"><b>360文件管理器</b></a> <em>1.4M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="37784" href="q/37784">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="46952" href="q/46952"><img src="http://pic.qqtn.com/file/2013/2013-11/2013115161054.jpg" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="46952" href="q/46952"><b>wifi信号增强器</b></a> <em>1.7M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="46952" href="q/46952">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="55002" href="q/55002"><img src="http://pic.qqtn.com/file/2013/2014-6/201462310550.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="55002" href="q/55002"><b>360影视大全</b></a> <em>15.1M</em> <p>影音图像</p> </dd>
          <dd class="s-xx"><a data-id="55002" href="q/55002">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56736" href="q/56736"><img src="http://pic.qqtn.com/file/2013/2014-8/20148584945.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56736" href="q/56736"><b>9.9包邮购美折</b></a> <em>4.5M</em> <p>浏览阅读</p> </dd>
          <dd class="s-xx"><a data-id="56736" href="q/56736">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56738" href="q/56738"><img src="http://pic.qqtn.com/file/2013/2014-8/20148585512.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56738" href="q/56738"><b>动态壁纸库下载</b></a> <em>3.1M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="56738" href="q/56738">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56740" href="q/56740"><img src="http://pic.qqtn.com/file/2013/2014-8/2014859122.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56740" href="q/56740"><b>92助手下载</b></a> <em>1.3M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="56740" href="q/56740">下载</a></dd>
        </dl>
       </li>
        
    </ul></DIV>
<DIV class="tagContent" id=tagContent1>
<ul class="soft-list">
      
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="33639" href="q/33639"><img src="http://pic.qqtn.com/file/2013/2013-9/201392516391.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="33639" href="q/33639"><b>搜狗手机输入法下载</b></a> <em>13.9M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="33639" href="q/33639">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="33653" href="q/33653"><img src="http://pic.qqtn.com/file/2013/2013-7/201371133959.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="33653" href="q/33653"><b>360手机卫士安卓版</b></a> <em>16.8M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="33653" href="q/33653">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="34682" href="q/34682"><img src="http://pic.qqtn.com/file/2013/2013-4/2013424141715.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="34682" href="q/34682"><b>360浏览器安卓版</b></a> <em>4.8M</em> <p>浏览阅读</p> </dd>
          <dd class="s-xx"><a data-id="34682" href="q/34682">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56913" href="q/56913"><img src="http://pic.qqtn.com/file/2013/2014-8/201488143916.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56913" href="q/56913"><b>爱听360下载</b></a> <em>12.5M</em> <p>影音图像</p> </dd>
          <dd class="s-xx"><a data-id="56913" href="q/56913">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="54930" href="q/54930"><img src="http://pic.qqtn.com/file/2013/2014-6/201462095110.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="54930" href="q/54930"><b>360问答安卓版下载</b></a> <em>2.8M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="54930" href="q/54930">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="49907" href="q/49907"><img src="http://pic.qqtn.com/file/2013/2014-1/201411714225.jpg" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="49907" href="q/49907"><b>360新闻下载</b></a> <em>3.7M</em> <p>浏览阅读</p> </dd>
          <dd class="s-xx"><a data-id="49907" href="q/49907">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56890" href="q/56890"><img src="http://pic.qqtn.com/file/2013/2014-8/20148893343.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56890" href="q/56890"><b>今目标手机版官方下载</b></a> <em>9.1M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="56890" href="q/56890">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="44538" href="q/44538"><img src="http://pic.qqtn.com/file/2013/2013-8/201382815133.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="44538" href="q/44538"><b>考拉FM</b></a> <em>4.0M</em> <p>影音图像</p> </dd>
          <dd class="s-xx"><a data-id="44538" href="q/44538">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="36948" href="q/36948"><img src="http://pic.qqtn.com/file/2013/2013-4/201342410052.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="36948" href="q/36948"><b>天猫手机客户端</b></a> <em>17.2M</em> <p>聊天通讯</p> </dd>
          <dd class="s-xx"><a data-id="36948" href="q/36948">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="35757" href="q/35757"><img src="http://pic.qqtn.com/file/2013/2013-5/2013525211829.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="35757" href="q/35757"><b>搜狗地图手机版</b></a> <em>15.5M</em> <p>其他软件</p> </dd>
          <dd class="s-xx"><a data-id="35757" href="q/35757">下载</a></dd>
        </dl>
       </li>
        
    </ul></DIV>
<DIV class="tagContent" id=tagContent2>
<ul class="soft-list">  
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="32370" href="q/32370"><img src="http://pic.qqtn.com/file/2013/2013-4/2013426103116.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="32370" href="q/32370"><b>手机qq2014安卓版</b></a> <em>22.8M</em> <p>腾讯专区</p></dd>
          <dd class="s-xx"><a data-id="32370" href="q/32370">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="33526" href="q/33526"><img src="http://pic.qqtn.com/file/2013/2013-4/2013426161344.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="33526" href="q/33526"><b>微信</b></a> <em>23.7M</em> <p>腾讯专区</p></dd>
          <dd class="s-xx"><a data-id="33526" href="q/33526">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="33834" href="q/33834"><img src="http://pic.qqtn.com/file/2013/2014-6/2014619102037.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="33834" href="q/33834"><b>腾讯应用宝</b></a> <em>3.1M</em> <p>腾讯专区</p></dd>
          <dd class="s-xx"><a data-id="33834" href="q/33834">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="43459" href="q/43459"><img src="http://pic.qqtn.com/file/2013/2013-7/2013731114359.jpg" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="43459" href="q/43459"><b>手机QQ国际版</b></a> <em>17.0M</em> <p>腾讯专区</p></dd>
          <dd class="s-xx"><a data-id="43459" href="q/43459">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="35435" href="q/35435"><img src="http://pic.qqtn.com/file/2013/2013-4/201342294438.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="35435" href="q/35435"><b>360手机助手安卓版下载</b></a> <em>3.4M</em> <p>其他软件</p></dd>
          <dd class="s-xx"><a data-id="35435" href="q/35435">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="33639" href="q/33639"><img src="http://pic.qqtn.com/file/2013/2013-9/201392516391.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="33639" href="q/33639"><b>搜狗手机输入法下载</b></a> <em>13.9M</em> <p>其他软件</p></dd>
          <dd class="s-xx"><a data-id="33639" href="q/33639">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="35800" href="q/35800"><img src="http://pic.qqtn.com/file/2013/2013-5/2013527164616.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="35800" href="q/35800"><b>WiFi万能钥匙</b></a> <em>7.8M</em> <p>其他软件</p></dd>
          <dd class="s-xx"><a data-id="35800" href="q/35800">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="17551" href="q/17551"><img src="http://pic.qqtn.com/file/2013/2013-5/201356101323.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="17551" href="q/17551"><b>yy语音手机版下载</b></a> <em>15.8M</em> <p>聊天通讯</p></dd>
          <dd class="s-xx"><a data-id="17551" href="q/17551">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="39533" href="q/39533"><img src="http://pic.qqtn.com/file/2013/2013-5/20135211536.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="39533" href="q/39533"><b>豌豆荚安卓版下载</b></a> <em>7.8M</em> <p>其他软件</p></dd>
          <dd class="s-xx"><a data-id="39533" href="q/39533">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="34396" href="q/34396"><img src="http://pic.qqtn.com/file/2013/2013-5/20135185121.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="34396" href="q/34396"><b>酷狗手机版官方下载</b></a> <em>8.4M</em> <p>影音图像</p></dd>
          <dd class="s-xx"><a data-id="34396" href="q/34396">下载</a></dd>
        </dl>
       </li>
        
</ul>
</DIV>
</DIV></DIV>

<DIV id=con>
<div class="title"> 
     <em>安卓游戏</em>
      <div class="tabs">
     <UL id=taggs>
       <LI class=selectTagg><A onClick="selectTagg('tagContentt0',this)"   href="javascript:void(0)">推荐</A> </LI>
       <LI><A onClick="selectTagg('tagContentt1',this)" href="javascript:void(0)">最新</A> </LI>
       <LI><A onClick="selectTagg('tagContentt2',this)" href="javascript:void(0)">排行</A> </LI>
     </UL>
     </div>
</div>

<DIV id=tagContentt>
<DIV class="tagContentt selectTagg" id=tagContentt0>
<ul class="soft-list"> 
  
  
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="55175" href="q/55175"><img src="http://pic.qqtn.com/file/2013/2014-6/201462716356.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="55175" href="q/55175"><b>暗黑奇迹</b></a> <em>106.9M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="55175" href="q/55175">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="40208" href="q/40208"><img src="http://pic.qqtn.com/file/2013/2013-5/20135138406.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="40208" href="q/40208"><b>时空猎人OL</b></a> <em>97.1M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="40208" href="q/40208">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="50179" href="q/50179"><img src="http://pic.qqtn.com/file/2013/2014-1/201412791141.jpg" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="50179" href="q/50179"><b>熊出没之熊大快跑下载</b></a> <em>39M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="50179" href="q/50179">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="41207" href="q/41207"><img src="http://pic.qqtn.com/file/2013/2014-2/201421210330.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="41207" href="q/41207"><b>我叫MT online HD</b></a> <em>101M</em> <p>策略塔防</p></dd>
          <dd class="s-xx"><a data-id="41207" href="q/41207">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="54597" href="q/54597"><img src="http://pic.qqtn.com/file/2013/2014-8/201488171254.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="54597" href="q/54597"><b>古剑奇缘 安卓</b></a> <em>61.5M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="54597" href="q/54597">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56926" href="q/56926"><img src="http://pic.qqtn.com/file/2013/2014-8/201488165852.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56926" href="q/56926"><b>驯龙高手2下载</b></a> <em>7M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="56926" href="q/56926">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="38430" href="q/38430"><img src="http://pic.qqtn.com/file/2013/2014-8/201488165227.jpg" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="38430" href="q/38430"><b>捣蛋猪游戏下载</b></a> <em>40.2M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="38430" href="q/38430">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="33511" href="q/33511"><img src="http://pic.qqtn.com/file/2013/2014-8/201488112134.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="33511" href="q/33511"><b>愤怒的小鸟中文版下载</b></a> <em>49.5M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="33511" href="q/33511">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="51837" href="q/51837"><img src="http://pic.qqtn.com/file/2013/2014-8/201488111445.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="51837" href="q/51837"><b>疯狂的麦咭手游下载</b></a> <em>55.3M</em> <p>动作体育</p></dd>
          <dd class="s-xx"><a data-id="51837" href="q/51837">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56194" href="q/56194"><img src="http://pic.qqtn.com/file/2013/2014-7/201472310240.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56194" href="q/56194"><b>开心宝贝向前冲</b></a> <em>5M</em> <p>动作体育</p></dd>
          <dd class="s-xx"><a data-id="56194" href="q/56194">下载</a></dd>
        </dl>
       </li>
           

    </ul></DIV>
<DIV class="tagContentt" id=tagContentt1>
<ul class="soft-list">
   
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="55175" href="q/55175"><img src="http://pic.qqtn.com/file/2013/2014-6/201462716356.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="55175" href="q/55175"><b>暗黑奇迹</b></a> <em>106.9M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="55175" href="q/55175">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="40208" href="q/40208"><img src="http://pic.qqtn.com/file/2013/2013-5/20135138406.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="40208" href="q/40208"><b>时空猎人OL</b></a> <em>97.1M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="40208" href="q/40208">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="50179" href="q/50179"><img src="http://pic.qqtn.com/file/2013/2014-1/201412791141.jpg" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="50179" href="q/50179"><b>熊出没之熊大快跑下载</b></a> <em>39M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="50179" href="q/50179">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="41207" href="q/41207"><img src="http://pic.qqtn.com/file/2013/2014-2/201421210330.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="41207" href="q/41207"><b>我叫MT online HD</b></a> <em>101M</em> <p>策略塔防</p></dd>
          <dd class="s-xx"><a data-id="41207" href="q/41207">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="54597" href="q/54597"><img src="http://pic.qqtn.com/file/2013/2014-8/201488171254.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="54597" href="q/54597"><b>古剑奇缘 安卓</b></a> <em>61.5M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="54597" href="q/54597">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56926" href="q/56926"><img src="http://pic.qqtn.com/file/2013/2014-8/201488165852.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56926" href="q/56926"><b>驯龙高手2下载</b></a> <em>7M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="56926" href="q/56926">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="38430" href="q/38430"><img src="http://pic.qqtn.com/file/2013/2014-8/201488165227.jpg" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="38430" href="q/38430"><b>捣蛋猪游戏下载</b></a> <em>40.2M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="38430" href="q/38430">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56919" href="q/56919"><img src="http://pic.qqtn.com/file/2013/2014-8/201488154635.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56919" href="q/56919"><b>酷酷爱魔兽下载</b></a> <em>72M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="56919" href="q/56919">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56917" href="q/56917"><img src="http://pic.qqtn.com/file/2013/2014-8/201488152448.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56917" href="q/56917"><b>仙侠3D网游</b></a> <em>153M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="56917" href="q/56917">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="56914" href="q/56914"><img src="http://pic.qqtn.com/file/2013/2014-8/20148815459.jpg" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="56914" href="q/56914"><b>天天忍者安卓版下载</b></a> <em>43M</em> <p>策略塔防</p></dd>
          <dd class="s-xx"><a data-id="56914" href="q/56914">下载</a></dd>
        </dl>
       </li>
        
    </ul></DIV>
<DIV class="tagContentt" id=tagContentt2>
<ul class="soft-list">  
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="53582" href="q/53582"><img src="http://pic.qqtn.com/file/2013/2014-4/2014411163917.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="53582" href="q/53582"><b>天天酷跑航哥破解版下载</b></a> <em>61.1M</em> <p>动作体育</p></dd>
          <dd class="s-xx"><a data-id="53582" href="q/53582">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="55674" href="q/55674"><img src="http://pic.qqtn.com/file/2013/2014-7/201471185237.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="55674" href="q/55674"><b>天天酷跑炫飞模式破解版下载</b></a> <em>62.8M</em> <p>动作体育</p></dd>
          <dd class="s-xx"><a data-id="55674" href="q/55674">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="54084" href="q/54084"><img src="http://pic.qqtn.com/file/2013/2014-5/201452210592.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="54084" href="q/54084"><b>炫舞时代手机版下载</b></a> <em>44.7M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="54084" href="q/54084">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="55548" href="q/55548"><img src="http://pic.qqtn.com/file/2013/2014-7/201471017612.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="55548" href="q/55548"><b>天天酷跑炫飞版下载</b></a> <em>62.8M</em> <p>动作体育</p></dd>
          <dd class="s-xx"><a data-id="55548" href="q/55548">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="55112" href="q/55112"><img src="http://pic.qqtn.com/file/2013/2014-6/201462685717.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="55112" href="q/55112"><b>天天跑酷2安卓版</b></a> <em>2.9M</em> <p>动作体育</p></dd>
          <dd class="s-xx"><a data-id="55112" href="q/55112">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="53015" href="q/53015"><img src="http://pic.qqtn.com/file/2013/2014-4/20144229398.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="53015" href="q/53015"><b>别踩白块儿 安卓</b></a> <em>4.4M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="53015" href="q/53015">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="39454" href="q/39454"><img src="http://pic.qqtn.com/file/2013/2014-5/2014521162010.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="39454" href="q/39454"><b>烧饼游戏修改器下载</b></a> <em>908KB</em> <p>游戏工具</p></dd>
          <dd class="s-xx"><a data-id="39454" href="q/39454">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="52224" href="q/52224"><img src="http://pic.qqtn.com/file/2013/2014-3/2014331113425.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="52224" href="q/52224"><b>雷霆战机明哥破解版下载</b></a> <em>45M</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="52224" href="q/52224">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="52731" href="q/52731"><img src="http://pic.qqtn.com/file/2013/2014-4/2014416213017.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="52731" href="q/52731"><b>全民农场破解版</b></a> <em>1KB</em> <p>休闲益智</p></dd>
          <dd class="s-xx"><a data-id="52731" href="q/52731">下载</a></dd>
        </dl>
       </li>
     
      <li class="soft-item">
        <dl>
          <dt class="s-photo"><a data-id="46834" href="q/46834"><img src="http://pic.qqtn.com/file/2013/2013-11/201311484419.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <a data-id="46834" href="q/46834"><b>腾讯时空猎人</b></a> <em>99.8M</em> <p>手机网游</p></dd>
          <dd class="s-xx"><a data-id="46834" href="q/46834">下载</a></dd>
        </dl>
       </li>
        
</ul>
</DIV>
</DIV></DIV>
<section>
  <div class="title"> <em>热门资讯推荐</em> </div>
  <div class="content">
    <ul class="new-list">
       
      <li class="new-item"> 
        <a class="n-photo " data-id="87061" href="c/87061"><img src="http://pic.qqtn.com/file/2013/2014-8/201488173227.jpg" width="105" height="69"></a> 
        <a class="n-name" data-id="87061"  href="c/87061">
          <p class="newstitle">姜饼人酷跑携手京东推出为了零食疯狂一夏活动</p>
          <p>这个暑假，有一个游戏，不光好玩，而且还很好吃，那就是《姜饼人酷跑》！夏日饼干大狂欢，《姜饼人酷跑》携手京东，推出“为了零食，疯玩一夏”活动，你和饼干们一起奔跑的同时，即可轻松获得百万京东豪礼！奥利奥，</p>
        </a> 
      </li>
     
      <li class="new-item"> 
        <a class="n-photo " data-id="87059" href="c/87059"><img src="http://pic.qqtn.com/file/2013/2014-8/201488172532.jpg" width="105" height="69"></a> 
        <a class="n-name" data-id="87059"  href="c/87059">
          <p class="newstitle">天天来塔防玩法首爆 腾讯新游天天来塔防火热来袭</p>
          <p>腾讯天天系列新成员《天天来塔防》重磅来袭，融合传统塔防元素并进行创意添加，独创英雄养成的塔防玩法、PVP塔防竞技,大大的提升了塔防 &nbsp;手游 &nbsp;的趣味性。游戏场景刻画清晰、英雄人物激萌可爱，视觉享受非</p>
        </a> 
      </li>
     
      <li class="new-item"> 
        <a class="n-photo " data-id="87038" href="c/87038"><img src="http://pic.qqtn.com/file/2013/2014-8/201488154521.jpg" width="105" height="69"></a> 
        <a class="n-name" data-id="87038"  href="c/87038">
          <p class="newstitle">天天酷跑8月8日起高温补贴送您清凉一夏 活动详情介绍</p>
          <p>炎热的夏天，还有多少玩家还在天天酷跑的游戏当中？会不会中暑呀?没事，官方已经考虑到这个问题了，所以为了大家能够清凉一夏，特意送给每个玩家高温补贴，只要玩家在活动期间登陆游戏，即可获得免费的金币、积分和钻</p>
        </a> 
      </li>
     
      <li class="new-item"> 
        <a class="n-photo " data-id="87041" href="c/87041"><img src="http://pic.qqtn.com/file/2013/2014-8/201488155249.jpg" width="105" height="69"></a> 
        <a class="n-name" data-id="87041"  href="c/87041">
          <p class="newstitle">天天酷跑庆祝腾讯游戏专区上线AppStore 欢乐好礼大派送</p>
          <p>承蒙广大玩家的厚爱，8月8日腾讯游戏专区正式上线App Store，天天酷跑为了庆祝这个喜闻乐见的消息，凡是iPhone, iPad 以及 iPod touch 玩家均可以参加活动，获得免费的金币、积分和钻石奖励哦，想知道怎么领取么?赶紧</p>
        </a> 
      </li>
     
      <li class="new-item"> 
        <a class="n-photo " data-id="87033" href="c/87033"><img src="http://pic.qqtn.com/file/2013/2014-8/201488152251.jpg" width="105" height="69"></a> 
        <a class="n-name" data-id="87033"  href="c/87033">
          <p class="newstitle">天天富翁庆公测充值回馈活动来袭 活动内容详细介绍</p>
          <p>全民互动休闲手游《天天富翁》火热夏季精彩不断，热浪接连一波又一波！清新柔亮的Q版风格、萌趣搞笑的游戏角色、轻松休闲的音乐，简单的操作却不简单的策略玩法，让你在这个夏天体验最好玩的富翁游戏！现在，《天天富</p>
        </a> 
      </li>
    
    </ul>
  </div>
  <a class="pageBtn cateEntry" href="show.asp@a=10&w=0&o=0&rootid=26">查看更多</a>
</section>
<section class="bottom">
<a class="go-top">返回顶部</a>
<a class="go-desktop" href="../www.qqtn.com/@m">访问电脑版</a>
</section>
<footer>
   <nav class="footerNav">
       <a class="game" href="glist.html"><img src="img/g-icon.png">游戏</a>
       <a class="soft" href="nlist.html"><img src="img/s-icon.png">软件</a>
       <a class="news" href="c/catalogID/94/0/0/default.htm"><img src="img/n-icon.png">资讯</a>
       <a class="rank" href="rank.html"><img src="img/r-icon.png">排行</a>
       <a class="rank" href="topic.html"><img src="img/t-icon.png">专题</a>
   </nav>
</footer>
<script>
$(function(){
    //创建slider组件
   $('#slider').slider({loop:true});
});
</script>
<script type=text/javascript>
function selectTag(showContent,selfObj){
	// 操作标签
	var tag = document.getElementById("tags").getElementsByTagName("li");
	var taglength = tag.length;
	for(i=0; i<taglength; i++){
		tag[i].className = "";
	}
	selfObj.parentNode.className = "selectTag";
	// 操作内容
	for(i=0; j=document.getElementById("tagContent"+i); i++){
		j.style.display = "none";
	}
	document.getElementById(showContent).style.display = "block";
	
}
</script>
<script type=text/javascript>
function selectTagg(showContentt,selfObj){
	// 操作标签
	var tag = document.getElementById("taggs").getElementsByTagName("li");
	var taglength = tag.length;
	for(i=0; i<taglength; i++){
		tag[i].className = "";
	}
	selfObj.parentNode.className = "selectTagg";
	// 操作内容
	for(i=0; j=document.getElementById("tagContentt"+i); i++){
		j.style.display = "none";
	}
	document.getElementById(showContentt).style.display = "block";
	
	
}
</script>
<div style="display:none"><script src="show/count.js"></script> </div>

</body>
</html>
