<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
<title>手机腾牛网安卓软件免费下载触屏自适应手机wap软件模板下载-http://www.lanrenmb.com/diannaowangluo/ruanjian/</title>
<meta name="Keywords" content="安卓游戏下载,安卓游戏排行榜" />
<meta name="description" content="手机腾牛网为您提供了2014最好玩的安卓游戏免费下载,希望玩家们喜欢." />
<link rel="stylesheet" href="css/web5.css" >
</head>

<body>
<header class="top"> <a class="t-home" href="default.htm">首页</a>
  <div class="t-logo"> <img src="img/logo.png"> </div>
  <a class="t-search" href="websousuo.html">搜索</a> </header>
<section class="center">
  <div class="title"> 
     <em>热门游戏分类</em>
  </div>
  <div class="tab-content">
    <ul class="nysoft-list" >
      <li class="nysoft-item"> 
        <dl>
          <dt class="s-photo"><a href="q/catalogid/200/0/0/default.htm"><img src="img/icon01.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <b><a href="q/catalogid/200/0/0/default.htm">休闲益智</a></b> <em class="tj">1149款游戏</em> </dd>
        </dl>
       </li> 
       <li class="nysoft-item"> 
        <dl>
          <dt class="s-photo"><a href="q/catalogid/201/0/0/default.htm"><img src="img/icon02.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <b><a href="q/catalogid/201/0/0/default.htm">策略塔防</a></b> <em class="tj">218款游戏</em> </dd>
        </dl>
       </li>
       <li class="nysoft-item"> 
        <dl>
          <dt class="s-photo"><a href="q/catalogid/202/0/0/default.htm"><img src="img/icon03.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <b><a href="q/catalogid/202/0/0/default.htm">动作体育</a></b> <em class="tj">418款游戏</em> </dd>
        </dl>
       </li>
       <li class="nysoft-item"> 
        <dl>
          <dt class="s-photo"><a href="q/catalogid/203/0/0/default.htm"><img src="img/icon04.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <b><a href="q/catalogid/203/0/0/default.htm">手机网游</a></b> <em class="tj">300款游戏</em> </dd>
        </dl>
       </li>
       <li class="nysoft-item"> 
        <dl>
          <dt class="s-photo"><a href="q/catalogid/204/0/0/default.htm"><img src="img/icon05.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <b><a href="q/catalogid/204/0/0/default.htm">其他游戏</a></b> <em class="tj">300款游戏</em> </dd>
        </dl>
       </li>
       <li class="nysoft-item"> 
        <dl>
          <dt class="s-photo"><a href="q/catalogid/207/0/0/default.htm"><img src="img/icon06.png" width="50" height="50"></a></dt>
          <dd class="s-name"> <b><a href="q/catalogid/207/0/0/default.htm">游戏工具</a></b> <em class="tj">24款游戏</em> </dd>
        </dl>
       </li>  
    </ul>  
  </div>
  <p class="lheight"></p>
</section>

<footer>
   <nav class="footerNav">
       <a class="game active" href="glist.html"><img src="img/g-icon.png">游戏</a>
       <a class="soft" href="nlist.html"><img src="img/s-icon.png">软件</a>
       <a class="news" href="c/catalogID/94/0/0/default.htm"><img src="img/n-icon.png">资讯</a>
       <a class="rank" href="rank.html"><img src="img/r-icon.png">排行</a>
        <a class="rank" href="topic.html"><img src="img/t-icon.png">专题</a>
   </nav>
</footer>
</body>
</html>
