{% extends 'GiveLike/base.html' %}
{% load static %}

{% block section %}
    <div class="title">
        <em>热门专题</em>
    </div>
    <div class="tab-content">
        <ul class="ztlist">

            <li>
                <a data-id="155" href="k/sjqq" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2013-10/2013109105423.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="155" href="k/sjqq">手机qq</a></p>
                    <div class="con"><p>
                        手机qq给我们带了非常多的便捷，但要下载到一款适合我们自己手机的机型、又是最新版本的手机QQ真是不容易，丫丫小编听到了很多网友的心声后，决定给大家收集最新的手机QQ版本，不同的手机都能用的手机QQ，只要你记住我们的这个手机QQ页面，我们就能给你提供最新的手机QQ，并且全部免费，不会像其他网站一样，让你的手机发了一堆短信后还没有安装好手机QQ，相信我，这里是最新的手机QQ下载基地。</p>
                    </div>
                </div>
                <a href="k/sjqq" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>


            <li>
                <a data-id="776" href="k/quanmin" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-4/2014430103653.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="776" href="k/quanmin">全民游戏</a></p>
                    <div class="con"><p><span style="line-height: 13.333333969116211px;">全民游戏有哪些？</span>全民游戏系列你玩过哪几款？小编今天为大家收集了所有的全民游戏，只要你想要的，这里都有下载，老游戏玩腻了，换款新游戏试试吧，腾迅推出的全民游戏款款都经典哦。
                    </p></div>
                </div>
                <a href="k/quanmin" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="771" href="k/rcql" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-4/2014428175159.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="771" href="k/rcql">手机内存清理软件</a></p>
                    <div class="con"><p>
                        手机内存不够用怎么办？请用手机内存清理工具帮你的手机瘦身吧。安卓手机内存清理软件哪个最好用？目前效果不错的有：安卓优化大师、一键清理大师、腾讯手机管家、手机加速器等等。除了使用软件我们还可以使用以下方面来<span
                            style="color: rgb(255, 0, 0);"><strong>清理手机内存：</strong></span>1、清理大型应用程序的缓存数据2、删除那些你从来不用或者很少使用的应用程序3、移动所以可以移动的应用程序数据到SD卡
                    </p></div>
                </div>
                <a href="k/rcql" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="762" href="k/ertong" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-4/201442412837.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="762" href="k/ertong">安卓儿童软件</a></p>
                    <div class="con"><p>
                        当了爸妈的家长们相信大家都有在手机上安装孩子们的动画软件、故事软件、儿歌软件吧。因为孩子的教育对我们来说是头等大事，平时我们工作又忙，没有太多的心思都想法子教他们新东西，所以我们选择用手机客户端来让他们学习一些新知识，这些儿童软件功能非常强大，界面也很美观，每个孩子都喜欢看这些儿歌和故事。还有宝宝幼儿园软件，帮助你的孩子提前做好入园准备哦。</p>
                    </div>
                </div>
                <a href="k/ertong" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="759" href="k/sjbank" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-4/2014423154911.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="759" href="k/sjbank">手机银行客户端</a></p>
                    <div class="con"><p><span style="color: rgb(255, 0, 0);"><strong>手机银行怎么用？</strong></span>银行开通手机银行――手机银行客户端的下载――选择APK程序开始安装――在程序主界面中点击“手机银行”，然后输入相关信息，最后点击“登陆”按钮，就可以登陆手机银行――接下来，就可以随心所欲的进行相关业务工作的办理啦。手机银行就是将手机号与银行账户绑定，通过手机银行，我们可以办理许多以前只能通过柜台才能办理的业务。
                    </p></div>
                </div>
                <a href="k/sjbank" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="743" href="k/sjbofangqi" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-4/2014415103048.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="743" href="k/sjbofangqi">安卓音乐播放器</a></p>
                    <div class="con">
                        用手机想要找到好音乐？想要好音质？想要高品质听觉体验？想要免费下载？一切都不是浮云，这里给大家整合最热门的安卓音乐播放器。好用的安卓音乐播放器就是有魅力、线控、甩歌方便！使用手机音乐播放器可以新歌抢先听，百场歌友会任你选，听歌、下歌、彩铃订购一站全都有，还可以下载专辑哦，太爽了吧。
                    </div>
                </div>
                <a href="k/sjbofangqi" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="722" href="k/soujizs" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-4/201449113130.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="722" href="k/soujizs">手机助手安卓版</a></p>
                    <div class="con">
                        为什么我们要使用手机助手？就是想加快速度，更安全更方便地使用手机对吧，一款好用的手机助手是不需要注册，不需要越获，直接可以下载最新资源，并且可以一键完成，这就是我们最理想的手机助手。手机助手还有一个特别的功能就是共享上网功能，小编知道大家的心思，所以收集了一批功能强大的手机助手，令您超便利的玩转智能手机，最新软件、好玩的游戏、漂亮的照片，可爱的视频通通都可以搞定。<br/>
                    </div>
                </div>
                <a href="k/soujizs" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="664" href="k/azrwglq" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-3/2014312171839.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="664" href="k/azrwglq">安卓任务管理器</a></p>
                    <div class="con">
                        安卓任务管理器主要有进程管理、内存使用情况查看和应用管理等功能。由于手机电量有限，每次用完手机后，我们都会清理一下内存。使用安卓任务管理器除了手动清理内存为，你还可以采取锁屏后自动清理内存和定时清理内存来优化手机，如果害怕清理了重要的应用程序，你可以设置不清理的名单，如果在想要清理该应用，手动清理就好。
                    </div>
                </div>
                <a href="k/azrwglq" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="661" href="k/sjbjrj" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-3/2014311175746.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="661" href="k/sjbjrj">安卓比价软件</a></p>
                    <div class="con">
                        安卓比价软件与电脑比价软件相对来说非常便捷，不管是在大街上还是在家中，使用手机比价软件获得的商品信息也非常全面，而且你还可以利用手机扫码获取淘宝天猫、京东当当等购物网站内商品价格，买家评论等，让信息更加透明。手机比价软件将搜索、比价、扫条码融为一体，而且使用简单，比价速度快，实为网购必备工具。
                    </div>
                </div>
                <a href="k/sjbjrj" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="654" href="k/wlss" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-3/2014310154431.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="654" href="k/wlss">亡灵杀手</a></p>
                    <div class="con">
                        亡灵杀手是一款无论是画面还是操作都非常华丽的ios游戏，游戏如其名，《三国亡灵》故事设定相当离奇。这款游戏令人惊奇之处在于，从策划到游戏开发都是出自一人之手。虽说手游开发比其他平台的游戏相对简单，但从本作完成度来看，足以令人瞠目！游戏相当暴爽！全触屏操控顺滑，特效炫目，强力推荐！我们一起来见证个人开发的网游大作吧。
                    </div>
                </div>
                <a href="k/wlss" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

            <li>
                <a data-id="653" href="k/aztpllq" class="list_img">
                    <img src="http://pic.qqtn.com/file/2013/2014-3/201437193534.jpg" width="60" height="60">
                </a>
                <div class="fict_name">
                    <p class="tit"><a data-id="653" href="k/aztpllq">安卓图片浏览器</a></p>
                    <div class="con">
                        安卓图片浏览器能够将手机内的相片、截图、手机壁纸等全面搜罗集合到一起，并安卓时间、图片类型和所在文件等形式分门别类展现在我们眼前，方便我们快速精确的找到所要的图片。安卓图片浏览器还能将哪些应用、网页浏览所有产生的隐藏图片显示出来，任凭用户查看删除。当然你也可以在浏览图片的过程中对图片进行涂鸦或将其发送到朋友圈内，是手机必备的图片管理、查看工具。
                    </div>
                </div>
                <a href="k/aztpllq" class="list_fct">
                    <img src="img/fct_right.jpg">
                </a>
            </li>

        </ul>
    </div>
{% endblock section %}